@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Noto+Serif+SC:wght@200..900&display=swap');


ul {padding-inline-start: 0px;}
h2 { margin-block-start: 0;
    margin-block-end: 0;
  font-size: 30px;}

  a {
    color: black;
    text-decoration: none;
    
}
a:hover {
    color: black;
    text-decoration: underline;
}
a:active {
    color: black;
}

a:visited {
  color: rgb(53, 53, 53);
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif KR", serif;
    font-optical-sizing: auto;
  }


  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -2;
  }

  .main-box {
    background-color: grey;
    width: 900px;
    height: 500px;
    padding: 20px;
    overflow-y: auto;
  }

  /* WebKit 기반 브라우저용 스크롤바 스타일링 */
  .main-box::-webkit-scrollbar {
    width: 12px;
}
.main-box::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}
.main-box::-webkit-scrollbar-track {
    background: none;
}
/* Firefox 기반 브라우저용 스크롤바 스타일링 */
.main-box {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

.back-button {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}

.home-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}


  .content {
    position: relative;
    color: white;
    text-align: center;
  }

  .content h1 {
    font-size: 5em;
    font-weight: 700;
    font-style: normal;
    margin: 0 0 9px 0;
  }

  .content h2 {

    font-weight: 400;
    font-style: normal;
    margin: 0em;
    font-size: 1.2em;
  }

  .content h3 {

    font-weight: 500;
    font-style: normal;
    margin: 15px 0 0 0;
    font-size: 1.4em;
  }

  .icon {
    margin: 1em;
  }

  .icon img {
    width: 40px;
    display: inline-block;
  }



  /* 페이지 */

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
    font-weight: 600;
}
.page-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 16px;
}
.page-number {
    margin: 0 5px;
}

.tg {
  display: none;
}
.tg.active {
  display: block;
}



.box{
  display: flex;
  justify-content: center;
  align-items: center;
}


.image-container-set {
  width: 200px;
  display: inline-block;
  margin: 5px;
}


.image-container-1 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  margin: 0 5px 0 5px;
  cursor: pointer;
  transition: transform 1s ease;

  /* SVG 마스크 적용 */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,0 200,0 200,200 0,150"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,0 200,0 200,200 0,150"/></svg>');
}

.image-container-1 img{
  transition: transform 1s ease;
}


.image-container-1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-container-1:hover {
  transform: scale(1.05);
}

.image-container-1:hover img {
  transform: scale(1.1);
}

.image-container-1:hover .overlay {
  opacity: 1;
}

.overlay-text {
  font-size: 15px;
  border: solid 1px black;
  padding: 5px;
  color: black;
}






.image-container-2 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  top:-50px;
  margin: 5px 5px 0 5px;

  /* SVG 마스크 적용 (좌우 반전된 사다리꼴) */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,00 200,50 200,200 0,200"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,00 200,50 200,200 0,200"/></svg>');
}



.image-container-2 img{
  transition: transform 1s ease;
}


.image-container-2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-container-2:hover {
  transform: scale(1.05);
}

.image-container-2:hover img {
  transform: scale(1.1);
}

.image-container-2:hover .overlay {
  opacity: 1;
}





.image-container-3 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  margin: 0 5px 0 5px;
  

  /* SVG 마스크 적용 */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,0 200,0 200,150 0,200"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,0 200,0 200,150 0,200"/></svg>');
}

.image-container-4 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  top:-50px;
  margin: 5px 5px 0 5px;
  

  /* SVG 마스크 적용 */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,50 200,0 200,200 0,200"/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="0,50 200,0 200,200 0,200"/></svg>');
}



.image-container-3 img{
  transition: transform 1s ease;
}


.image-container-3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-container-3:hover {
  transform: scale(1.05);
}

.image-container-3:hover img {
  transform: scale(1.1);
}

.image-container-3:hover .overlay {
  opacity: 1;
}





.image-container-4 img{
  transition: transform 1s ease;
}


.image-container-4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.image-container-4:hover {
  transform: scale(1.05);
}

.image-container-4:hover img {
  transform: scale(1.1);
}

.image-container-4:hover .overlay {
  opacity: 1;
}























img {
  display: block;
  height: 100%;
}

















footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #6d6d6d; /* 푸터 텍스트 색상 */
  text-align: center; /* 푸터 내용 가운데 정렬 */
  padding: 15px 0; /* 푸터 내부 여백 */
  font-size:7px;
  line-height: 10px;
}







  @media screen and (max-width: 458px) {

     
.back-button {
  position: absolute;
  top: 1px;
  left: 5px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}

.home-button {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 15px;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  border: none;
}



.image-container-set {
  width: 425px;
  display: inline-block;
  margin: 5px;
}




.image-container-1 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  margin: 0 5px 0 5px;
  left: 25px;
  cursor: pointer;
  transition: transform 1s ease;

  /* SVG 마스크 적용 */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="133.333,0 0,0 0,200 133.333,200 200,200 "/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="133.333,0 0,0 0,200 133.333,200 200,200 "/></svg>');
}


.image-container-2 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  left:-25px;
  top:0px;
  margin: 5px 5px 0 5px;

  /* SVG 마스크 적용 (좌우 반전된 사다리꼴) */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="66.667,200 200,200 200,0 66.667,0 0,0 "/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="66.667,200 200,200 200,0 66.667,0 0,0 "/></svg>');
}


.image-container-3 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  margin: 0 5px 0 5px;
  left: 25px;
  cursor: pointer;
  transition: transform 1s ease;

  /* SVG 마스크 적용 */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="133.333,0 0,0 0,200 133.333,200 200,200 "/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="133.333,0 0,0 0,200 133.333,200 200,200 "/></svg>');
}

.image-container-4 {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  display: inline-block;
  left:-25px;
  top:0px;
  margin: 5px 5px 0 5px;

  /* SVG 마스크 적용 (좌우 반전된 사다리꼴) */
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="66.667,200 200,200 200,0 66.667,0 0,0 "/></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><polygon points="66.667,200 200,200 200,0 66.667,0 0,0 "/></svg>');
}






    
    
  }


